.navbar {
  border-bottom: 3px solid #F6A32A;
}

.navbar-dropdown {
  border-top: 3px solid #F6A32A;
}

.navbar-item img {
  max-height: 100px;
  height: 89px;
}

.navbar-burger {
  height: 105px;
}

.is-success {
  background: #E1571D !important;
}

hr.styled {
  background: url('/images/bg-title.png') !important;
  height: 10px !important;
}

.has-dropdown .navbar-item {
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: bold;
}