.navbar {
  border-bottom: 3px solid #F6A32A;
}

.navbar-dropdown {
  border-top: 3px solid #F6A32A;
}

.navbar-item img {
  max-height: 100px;
  height: 89px;
}

.navbar-burger {
  height: 105px;
}

.is-success {
  background: #E1571D !important;
}

hr.styled {
  background: url('/images/bg-title.png') !important;
  height: 10px !important;
}

.has-dropdown .navbar-item {
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: bold;
}

@media screen and (min-width: 1005px) {
  .navbar-menu.is-hidden {
    display: flex !important;
  }
}

@media screen and (max-width: 770px) {
  .modal-content,
  .modal-card {
    margin: 0;
    padding: 0 10px;
  }
}

@media screen and (max-width: 1005px) {
  .navbar-menu.is-flex .navbar-end {
    width: 100%;
    text-align: left;
  }
}

@media screen and (min-width: 1005px) {
  .navbar-item.is-hoverable:hover .navbar-dropdown {
      display: block !important;
  }
  .navbar-item.is-hoverable:focus-within .navbar-dropdown {
      display: none;
  }
}

.principal-image {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal-image img {
  max-width: 100%;
}

.column img {
  max-width: 100%;
}

.modal-card-foot {
  display: block;
}

.footer {
  padding: 2rem 1.5rem 2rem;
}

.icon-footer {
  font-size: 20px;
  margin-left: 5px;
  position: relative;
  bottom: -3px;
  color: #E1571D;
}

.title-gallery {
  text-align: center;
  margin-top: 10px;
}